body {
    margin: 0;
    font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
    background: rgb(43, 32, 41);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 20px;
    height: 60px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: rgb(51, 29, 47);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color:rgb(134, 125, 125);
    font-family: 'Metal Mania', cursive;
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    font-size: 25px;
    color:rgb(194, 188, 188);
    font-family: 'Metal Mania', cursive;
}

input {
    height: 25px;
}

button {
    font-family: 'Metal Mania', cursive;
    font-size: 22px;
    text-align: center;
    height: 45px;
    width: 90px;
    margin: 5px;
}

.name-tag {
    margin-top: 20px;
    width: 400px;
    height: 250px;
    background: rgb(0, 0, 0);
    color:rgb(202, 199, 199);
    text-align: center;
    font-family: 'Metal Mania', cursive;
}

h2 {
    font-size: 3em;
    margin-bottom: 10px;
    font-family: 'Metal Mania', cursive;
}

.name-display {
    background: rgb(194, 188, 188);
    color: black;
    font-size: 30px;
    font-family: 'Metal Mania', cursive;
}

.intro {
    font-size: 30px;
    font-family: 'Metal Mania', cursive;
}


.bio-list {
    background:rgb(0, 0, 0);
    font-family: 'Metal Mania', cursive;
    color:rgb(202, 199, 199);
    width: 400px;
    margin: 20px;
    font-size: 25px;
    text-align: center;
}

.destination {
    background:rgb(134, 125, 125);
    color:rgb(0, 0, 0);
}



